<% if @itineraries.present? %>
    <h2>Itineraries (<%=link_to "New", new_itinerary_path%>)</h2>
    <ul class="itineraries-list">
        <%=render partial: "itinerary_list_item", collection: @itineraries %>
    </ul>
<% end %>
