<h2>Itineraries (<%=link_to "New", new_itinerary_path%>)</h2>

    
<ul class="itineraries-list">
    <% if @itineraries.present? %>
        <%=render partial: "itinerary_list_item", collection: @itineraries %>
    <% else %>
        <li>No itineraries found</li>
    <% end %>    
</ul>
